/.streamlit
/attach_error_1757665041.png
/attach_error_1757665444.png
/build
/ce_plan_rev1_251215.py
/ce_plan_rev2_251215.py
/ce_plan_rev3_251216.py
/ce_plan_rev4_251222 copy.py
/ce_plan_rev4_251222.py
/ce_price_rev0_251217 copy.py
/ce_price_rev0_251217.py
/dashboard.py
/dashboard.spec
/dist
/error_attach_1757664731.png
/log.txt
/menu_config.csv
/my_chat_history.csv
/my_work_notes.csv
/run.bat
/run_ce_plan.bat
/service_account.json
/test